@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 50px 40px;
  margin-top: 20px;
  background-color: #1a2b56;
  .box {
    h3 {
      color: white;
    }
    input{
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.container{
  margin-left:200px;
  width: auto;
  display: flex;
  flex-direction: row;
}
.container>div{
  margin-right: 40px;
}

@media only screen and (max-width: 640px)
{
  footer{
    padding: 50px 20px;
  }
  .container{
    margin-left:0px;
    justify-content: space-around;
  }
  .container>div{
    margin-right:10px;
  }
}