<mat-horizontal-stepper>
    <mat-step label="Your Products">
        <div>
            <p *ngIf="products.length === 0">Does not exist products</p>
            <table *ngIf="products.length > 0" mat-table [dataSource]="products" class="mat-elevation-z8 products__table">
              <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef> Product </th>
                  <td mat-cell *matCellDef="let products"> <img src={{products.image}} alt={{products.title}} class="products__table-img"> </td>
              </ng-container>
            
              <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Title </th>
                  <td mat-cell *matCellDef="let products"> {{products.title}} </td>
                  </ng-container>
            
              <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let products"> {{products.price | currency }} </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef> Quantity </th>
                  <td mat-cell *matCellDef="let product"><label>{{product | cartAccum:(products$ | async) }}</label></td>
              </ng-container>
            
              <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let products"> 
                      <mat-icon class="icon-delete" (click)="deleteProduct(products.id)">delete</mat-icon>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-step>
    <mat-step label="Personal Information">
        
    </mat-step>
    <mat-step label="Payment">
        
    </mat-step>
</mat-horizontal-stepper>

