.products{
    text-align: center;
    font-family:sans-serif;
    margin: 20px;
}

.product__grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap:50px 20px;
}
