.productDetail{
    width: 500px;
    background-color: rgba(0,0,0,0.25);
    border-radius:15px;
    border: 1px solid transparent ;
    margin:20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.productDetail__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.productDetail__container>h1{
    margin:0;
    margin-top:10px;
}

.productDetail__container-img>img{
    width: 80%;
}

.productDetail__container-info>ul{
    list-style: none;
}