<!-- INPUT -->
<input type="text" [(ngModel)]="title"> 

<!-- String interpolation -->
{{title}}

<!-- IF -->
<div *ngIf="title==='Andres'"> 
  This is a IF
</div>

<!-- BUTTON -->
<button (click)="addItem()">Add item</button>

<!-- FOR -->
<ul>
  <li *ngIf="items.length===0">Empty list</li>
  <li *ngFor="let item of items;index as i">
    {{item}}
    {{i}}
    <button (click)="deleteItem(i)">Delete item</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{product.title}}
  <img [src]="product.image" width="100px" alt="">
  {{product.price}}
</div>