<!-- INPUT -->
<input type="text" [(ngModel)]="title"> 

<!-- STRING INTERPOLATION -->
{{title}}

<!-- IF -->
<div *ngIf="title==='Andres'"> 
  This is Andres
</div>

<!-- SWITCH -->
<div [ngSwitch]="title"> 
  <p *ngSwitchCase="'Julian'">This is Julian</p>
  <p *ngSwitchCase="'Daniela'">This is Daniela</p>
  <p *ngSwitchCase="'Carolina'">This is Carolina</p>
  <p *ngSwitchDefault>No hay match</p>
</div>


<!-- BUTTON -->
<button (click)="addItem()">Add item</button>

<!-- FOR -->
<ul>
  <li *ngIf="items.length===0">Empty list</li>
  <li *ngFor="let item of items;index as i">
    {{item}}
    {{i}}
    <button (click)="deleteItem(i)">Delete item</button>
  </li>
</ul>

<div class="products">
  <h1>Products</h1>
  <div class="product__grid">
    <!-- COMPONENT -->
    <app-product
      class="product__grid-container"
      *ngFor="let product of products"
      (productClicked)='clickProduct($event)'
      [product]='product'>
    </app-product>
  </div>
</div>

<!-- <app-cart></app-cart> -->