<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>New Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input 
                            placeholder="Title"
                            type="text"
                            matInput
                            formControlName="title">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input
                            placeholder="Price"
                            type="number"
                            matInput
                            formControlName="price">
                    </mat-form-field>
                    <div *ngIf="priceField.errors && priceField.dirty">
                        <mat-error *ngIf="priceField.hasError('price_invalid')">Price is not valid</mat-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea
                            placeholder="Description"
                            type="text"
                            matInput
                            formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <input type="file" (change)="uploadFile($event)">
                    <img class="file__img" *ngIf="(image$ | async) as image" [src]="image" alt="file">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button 
                mat-raised-button
                color="primary"
                type="submit">Save</button>
        </mat-card-actions>
    </mat-card>
</form>